<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <script src='/js/itens_carrinho.js' defer></script>
    <link rel='stylesheet' href='/css/produtos.css' />
    <title>Produtos</title>
  </head>
  <body>

  </body>
</html>

<body>

  <div class='container'>
    <div class='shoe'>
      <img href='index.html' class='sapato' src='./img/aj4_tour_yellow.png' alt='Air Jordan 4' />
      <br />
      <span class='shoe_name'>Air Jordan 4 Retro<br />"Tour Yellow"</span>
      <div class='shoe_price'>R$ 3.300,00</div>
      <br />
      <img class='shoe_logo' src='./img/logo-tênis/Air-Jordan-Logo.png' alt='' />
      <br />
      <button class='adicionar-ao-carrinho' data-nome='Air Jordan 4 Retro' data-preco='3300' data-qtde='1' cod-prod='1'>Adicionar ao Carrinho</button>
    </div>

    <div class='shoe'>
      <img href='index.html' class='sapato' src='./img/Puma_toxic_jr.png' alt='Nike Dunk Low' />
      <br />
      <span class='shoe_name'>Lamelo Ball MB.03<br />“Toxic JR”</span>
      <div class='shoe_price'>R$ 1.100,00</div>
      <br />
      <img class='shoe_logo' src='./img/logo-tênis/Puma_Logo.png' alt='' />
      <br />
      <button class='adicionar-ao-carrinho' data-nome='Lamelo Ball MB.03' data-preco='1100' data-qtde='1' cod-prod='2'>Adicionar ao Carrinho</button>
    </div>

    <div class='shoe'>
      <img href='index.html' class='sapato' src='./img/adidas_forum_bad_bunny.png' alt='Forum Bad Bunny' />
      <br />
      <span class='shoe_name'>Adidas Forum X Bad Bunny<br />"We The Best - Crimson Bliss"</span>
      <div class='shoe_price'>R$ 1.200,00</div>
      <br />
      <img class='shoe_logo' src='./img/logo-tênis/Adidas_Logo.png' alt='' />
      <br />
      <button class='adicionar-ao-carrinho' data-nome='Adidas Forum X Bad Bunny' data-preco='1200' data-qtde='1' cod-prod='3'>Adicionar ao Carrinho</button>
    </div>
  </div>

  <div class='container'>
    <div class='shoe'>
      <img href='index.html' class='sapato' src='./img/yeezy_700.png' alt='Yeezy 700' />
      <br />
      <span class='shoe_name'>Yeezy 700 V1<br />"Wave Runner"</span>
      <div class='shoe_price'>R$ 3.300,00</div>
      <br />
      <img class='shoe_logo' src='./img/logo-tênis/Yeezy_Logo.png' alt='' />
      <br />
      <button class='adicionar-ao-carrinho' data-nome='Yeezy 700 V1' data-preco='3300' data-qtde='1' cod-prod='4'>Adicionar ao Carrinho</button>
    </div>

    <div class='shoe'>
      <img href='index.html' class='sapato' src='./img/Lamelo_rick_morty.png' alt='Lamelo' />
      <br />
      <span class='shoe_name'>Lamelo Ball MB.01<br />“Rick and Morty”</span>
      <div class='shoe_price'>R$ 989,00</div>
      <br />
      <img class='shoe_logo' src='./img/logo-tênis/Puma_Logo.png' alt='' />
      <br />
      <button class='adicionar-ao-carrinho' data-nome='Lamelo Ball MB.01' data-preco='989' data-qtde='1' cod-prod='5'>Adicionar ao Carrinho</button>
    </div>

    <div class='shoe'>
      <img href='index.html' class='sapato' src='./img/aj5_low.png ' alt='Jordan 5 Low' />
      <br />
      <span class='shoe_name'>Air Jordan 5 Low<br />"Arctic Pink"</span>
      <div class='shoe_price'>R$ 1.454,00</div>
      <br />
      <img class='shoe_logo' src='./img/logo-tênis/Adidas_Logo.png' alt='' />
      <br />
      <button class='adicionar-ao-carrinho' data-nome='Air Jordan 5 Low' data-preco='1454' data-qtde='1' cod-prod='6'>Adicionar ao Carrinho</button>
    </div>
  </div>
</body>

{{!-- 
<div class="box">
<ul>
    {{#each dados}}
    <div class="background">

            <h2>{{this.nome}}</h2>
            <div class="flex">
                <li class="produto">
                    <div class="img">
                    <img width="300" class="pic" src="/img/{{this.nome}}.jpg" alt="">
                    <br>
                    <p>R${{this.precoUnitario}}</p>
                    <br>
                    <button class="adicionar-ao-carrinho" data-nome={{this.nome}} data-preco={{this.precoUnitario}} data-qtde=1 cod-prod={{this.id}}>Adicionar ao Carrinho</button>
                    </div>
                    </div>
                </li>
                <div></div>
            </div>
    </div>
    {{/each}}
</ul>
</div> --}}